.timeline{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-family: "K2D";
}
.schedule {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #03081B;
    padding: 20px;
    /* width: 100vw; */
}

.day {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 8px;
    background-color: #03081B;
    box-shadow: 0px 0px 10px rgb(114, 112, 112);
    border: 3px solid #82E79A;
    border-radius: 10px;
    margin-right: 10px;
}
h2 {
    color: #00ff99;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #00ff99;
    padding-bottom: 5px;
    font-family: "K2D";
}

.day h2 {
    color: white;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

/* .schedule-table thead {
    background-color: #182b45;
  } */
.schedule-table th {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    /* color: #00ff99;
    z-index: 2; */
    color: white;
    font-family: "K2D";

}
.schedule-table td {
    padding: 12px;
    font-size: 1.2rem;
    text-align: center;
    color: #b0c7df;
    font-family: "Leelawadee UI";
}

/* .schedule-table tbody tr {
    border-bottom: 1px solid #00ff99;
  } */

.schedule-table tbody tr:last-child {
    border-bottom: none;
}

.time-header,
.timeline-header {
    border-bottom: 1px solid #00ff99;
    box-shadow: 0 4px 15px rgba();
    font-family: "K2D";
}

.schedule-table td:first-child {
    width: 40%;
}

.schedule-table td:last-child {
    width: 60%;
}
