.homepage{
    background-color: black;
    background-image: url(../../assets/bg1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}