.fullpage{
    width: 100vw;
    background-color: black;
    background-image: url(../../assets/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 100%;
}
.topheading{
    text-align: center;
    font-size: 75px;
    color:white;
}
.team{
    margin-left: 50px;
    display: flex;
    margin-right: 100px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.teamCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.teamCard .frame {
    position: absolute;
    width: 270px;
    object-fit: cover;
    z-index: 10;
}

.teamCard .photo {
    width: 220px;
    position: relative;
    object-fit: cover;
    z-index: 2;
}
.details-card .details{
    color: white;
    font-size: 40px;
    margin-left: 50px;

}
.section{
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 50px;
    padding-top: 35px;
    color:#00ff99;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 500;
}

.name{
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}