.main {

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #03081B;
    background-image: url('../assets/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-size: 5vh;
    font-weight: 400;
    color: #66D2B9;
    font-family: Nico Moji;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.text2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 40px;
    color:white;
}

.main-text {
    display: flex;
    justify-content: center;


}

.img {
    width: 60vw;
    /* height: 20vh; */

}

.bulign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 20px; */
    margin-top: 10px;

}

.button {
    height: 4vh;
    width: 10vw;
    margin: 0 30px;
    border-radius: 5vh;
    padding: 8px;
    font-size: 20px;
    background-color:transparent;
    text-align: center;
    color:white;
    border: 1px solid #66D2B9;
}

.bulign2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 20px; */
    /* margin-top: 5vh; */

}

.info {
    text-align: center;
    font-size: 2vh;
    padding: 30px;
    margin: 0 15px;
    font-weight: bold;
    color: white;

}

.button2 {
    height: 8vh;
    width: 30vw;
    border-radius: 9vh;
    align-items: center;
    background: linear-gradient(89.14deg, #80E786 2.22%, #127AE4 184.38%);
    font-size: 3vh;
    padding: 5px;
    color: #03081B;
    font-weight: bold;
}

.wavy {
    position: relative;
    top: 10vh;
}

#wave {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 1;
    top: -2vh;

}

#wave1 {
    position: absolute;
    top: -12vh;
    right: 0;
    width: 70vw;
    height: auto;

}

#wave2 {
    position: absolute;
    left: 10px;
    top: -13vh;
    width: 30vw;


}

#wave3 {
    position: absolute;
    left: 15vw;
    top: -10vh;
    width: 50vw;
}

/* @media (max-width: 768px){
    .button{
        height: 8vh;
        width: 12vw;
        font-size: 14px
    }
    .info{
        font-size: 6px;
    }
} */
@media (max-width: 768px) {
    .button {
        height: 7vh;
        width: 20vw;
    }

    .info {
        font-size: 10px;
    }

    .button2 {
        width: 49vw;
    }

    #wave {
        top: -5vh;
    }
}

@media (max-width: 425px) {
    .img {
        width: 80vw;
    }

    .text2 {
        font-size: 12px;
        ;
    }

    .button {
        height: 8vh;
        width: 25vw;
        font-size: 12px;
    }

    .button2 {
        font-size: 12px;
    }

    #wave {
        top: -8vh;
    }
}

@media (max-width: 320px) {
    #wave {
        top: -7vh;
    }

    #wave2 {
        top: -10vh;
    }

    #wave3 {
        top: -10vh;
    }

    #wave1 {
        top: -11vh;
    }
}